<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
  <div class="card-body">
        <h3 class="font-weight-bold">{{isInEditMode? 'Update Todo' :'Add Todo'}}</h3>

    <form #todoForm="ngForm" (ngSubmit)="isInEditMode ? updateTodo() : addTodo()">

      <div class="form-group mb-3">
        <label>Todo Item</label>
        <input
        title="todoItem"
          type="text"
          class="form-control"
          name="todoItem"
          ngModel
          required>
      </div>

      <button mat-stroked-button color="primary" type="submit">
        {{ isInEditMode ? 'Update Todo' : 'Add Todo' }}
      </button>

    </form>
  </div>
</div>

    </div>
    <div class="col-md-6 offset-md-1">
      <app-todo-list></app-todo-list>
    </div>
  </div>
</div>
