<div class="container">

  <div class="row">
    <div class="col-md-4"><app-student-dashboard></app-student-dashboard></div>
    <div class="col-md-8"><app-student-table></app-student-table></div>
  </div>
    <br>
  <hr>
  <div class="row">
    <div class="col-md-6"><app-todo-dashboard></app-todo-dashboard></div>
    <div class="col-md-6"><app-todo-list></app-todo-list></div>
</div>

  </div>
  <br>



  

 


















<!-- <app-navbar></app-navbar>




<div class="container mt-5">
  <div class="row">
    <div class="col-12">
<router-outlet></router-outlet>
    </div>
  </div>
</div> -->